@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color:rgb(59, 59, 87);
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width:100%;
  top: 0px;
  height: 100%;
  max-height: 80px;
  align-items: center;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.4px);
  -webkit-backdrop-filter: blur(8.4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgb(16, 19, 37);
}

.name {
  display: flex;
  align-items: center;
  justify-content:left;
}

.name>h1{
  font-size: 130%;
  color: whitesmoke;
}
.logo {
  width: 50%;
  max-height: 90px;
}

.movieCount {
  color: black;
  background-color: white;
  position: relative;
  z-index: 1;
  padding: 5px;
  border-radius: 6px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content:right;
  padding-right: 2%;
}

.menu > a {
  margin: 0 10px;
  font-size: 1.1rem;
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.menu > a:hover {
  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-thickness: 3px;
}
.footer {
  position: fixed;
  width:100%;
  bottom: 0px;
  height: 100%;
  max-height: 60px;
  align-items: center;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.4px);
  -webkit-backdrop-filter: blur(8.4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgb(16, 19, 37);
  display: flex;
  justify-content: space-between;
}


.footer > * {
  padding: 10px;
  color: white;
  font-size: 80%;
}
